.contact{
    background-color: black;
    height: 100vh;

    .heading{
        margin-top: 3rem;
        margin-bottom: 3rem;
        text-align: center;
        padding: 10px;
        font-size: 50px;
        font-weight: 400;
        color: #1A74E2;
        background-color: #0e0e12;
        font-family: 'M PLUS 1 Code', sans-serif; 
        span{
            color: white;
        }   

    }
}